---
---

@import "{{ site.theme }}";

h1, h2, h3, h4, h5, h6 {
  color:#008000;
  margin:0 0 20px;
}

header {
  width:270px;
  float:right;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

header {
  padding-right:320x;
}

section {
  width:500px;
  float:left;
  padding-bottom:50px;
}
